/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 1rem;
}
@media (min-width: 575.98px) {
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 767.98px) {
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 991.98px) {
  html {
    font-size: 1.3rem;
  }
}
body {
  background-color: #A8D0E6;
  font-family: 'Roboto Slab', sans-serif;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
  transition: 0.3s ease;
  color: #24305E;
  border-top: 2px solid #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}
.navbar .navbar-nav .nav-link:hover {
  color: #F76c6c;
  border-top: 2px solid #24305E;
  border-bottom: 2px solid #24305E;
}
.navbar .navbar-brand {
  font-size: 1.3em;
  transition: 0.3s ease;
  color: #F76c6c;
  border-top: 2px solid #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}
.navbar .navbar-brand:hover {
  color: #24305E;
  border-top: 2px solid #F76c6c;
  border-bottom: 2px solid #F76c6c;
}
.social a i {
  color: black;
  font-size: 2rem;
  padding: 1% 0 1.8% 1.8%;
}
.social-header h2 {
  font-weight: bold;
}
@media (min-width: 575.98px) {
  .no-display {
    display: none;
  }
}
.copyright {
  padding-bottom: 1.3rem;
}
.jumbotron-home {
  background-image: url(../img/tabs-smfaded.png);
  background-size: cover;
  height: 100%;
  max-width: 100%;
}
.jumbotron-home h1 {
  font-weight: bold;
  color: #303030;
}
@media (min-width: 991.98px) {
  .jumbotron-home h1 {
    font-size: 5rem;
  }
}
@media (max-width: 767.98px) {
  .jumbotron-home h1 {
    font-size: 4em;
  }
}
@media (max-width: 575.98px) {
  .jumbotron-home h1 {
    font-size: 3em;
  }
}
.add-spaces {
  height: 35em;
}
.jumbotron-home h1 {
  padding-bottom: 2rem;
  text-shadow: 1px 0px 1px gray, 0px 1px 1px #ccc, 2px 1px 1px gray, 1px 2px 1px #ccc;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-inner .carousel-item .carousel-caption {
  max-width: 100%;
  left: 15%;
  top: 50% !important;
  transform: translateY(-50%);
  text-align: center;
  bottom: initial;
}
.carousel-inner .carousel-item .carousel-caption h1 {
  text-shadow: 1px 1px 10px #000;
}
.carousel-inner .carousel-item .carousel-caption h3 {
  padding: 1.3rem 1.3rem;
}
.card-deck .card .rating-stars {
  padding: 0 0 0.5rem 0;
}
.marketing-txt {
  width: 10%;
}
@media (min-width: 575.98px) {
  .marketing-txt {
    padding-top: 4rem;
  }
}
.marketing-img-col {
  padding: 2rem 0;
}
.marketing-img-col .marketing-img {
  border-radius: 10px;
  box-shadow: 3px 3px 20px slategray;
  box-shadow: inset;
}
.marketing-img-col:first-child {
  padding: 2rem 0 0.6rem 0;
}
.h3 {
  padding-bottom: 2rem;
}
.carousel-caption h3 {
  padding: 4% 0;
}
.jt-about {
  background-image: url(../img/staff-room.jpg);
  background-size: cover;
  height: 100%;
  max-width: 100%;
}
.jt-about h1 {
  margin: 0;
  padding: 100px 0 100px 0;
  /*top, right, bottom, left */
  text-shadow: 1px 0px 1px gray, 0px 1px 1px #ccc, 2px 1px 1px gray, 1px 2px 1px #ccc;
}
.features-body {
  background: #A8D0E6;
  background: linear-gradient(180deg, #A8D0E6 80%, #f8f9fa 100%);
}
.jumbotron-features {
  background-image: url(../img/features-page-img-jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
}
.jumbotron-features h1 {
  color: white;
  padding: 5rem 0;
}
.features-img-col {
  padding: 2rem 0;
}
.features-img-col:first-child {
  padding: 2rem 0 0.6rem 0;
}
.features-img-col .features-img {
  border-radius: 10px;
  box-shadow: 3px 3px 20px slategray;
  box-shadow: inset;
}
