/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 1rem;
}
@media (min-width: 575.98px) {
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 767.98px) {
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 991.98px) {
  html {
    font-size: 1.3rem;
  }
}
body {
  background-color: #A8D0E6;
  font-family: 'Roboto Slab', sans-serif;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
  transition: 0.3s ease;
  color: #24305E;
  border-top: 2px solid #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}
.navbar .navbar-nav .nav-link:hover {
  color: #F76c6c;
  border-top: 2px solid #24305E;
  border-bottom: 2px solid #24305E;
}
.navbar .navbar-brand {
  font-size: 1.3em;
  transition: 0.3s ease;
  color: #F76c6c;
  border-top: 2px solid #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}
.navbar .navbar-brand:hover {
  color: #24305E;
  border-top: 2px solid #F76c6c;
  border-bottom: 2px solid #F76c6c;
}
.jumbotron {
  background-image: url(../img/tabs-smfaded.png);
  background-size: cover;
  height: 100%;
  max-width: 100%;
}
.jumbotron h1 {
  font-weight: bold;
  color: #303030;
}
@media (min-width: 991.98px) {
  .jumbotron h1 {
    font-size: 5rem;
  }
}
@media (max-width: 767.98px) {
  .jumbotron h1 {
    font-size: 4em;
  }
}
@media (max-width: 575.98px) {
  .jumbotron h1 {
    font-size: 3em;
  }
}
.add-spaces {
  height: 35em;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-inner .carousel-item .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
