.jt-about {
    background-image: url(../img/staff-room.jpg);
    background-size: cover;
    height: auto;
    max-width: 100%;
 
    h1 {
       margin: 0;
       padding: 100px 0 100px 0; /*top, right, bottom, left */
       .shadowText();
    }
 }

.about-body {
   background: #A8D0E6;
   background: linear-gradient(180deg,  #A8D0E6 70%, #f8f9fa 100%);
}