.jt-about {
    background-image: url(../img/staff-room.jpg);
    background-size: cover;
    height: auto;
    max-width: 100%;
 
    h1 {
       margin: 0;
       padding: 100px 0 100px 0; /*top, right, bottom, left */
       .shadowText();
    //    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    }
 }