/* //Jumbotron Code VVV
.jumbotron {
   background-image: url(../img/bg-placeholder.jpg);
   background-size: cover;
   height: 100%;
}
.add-spaces {
   height: 35em;
}

<!--
function displayMsg() {
 alert("Hello World!")
}
*/