//Jumbotron Code VVV
.jumbotron {
   background-image: url(../img/tabs-smfaded.png);
   background-size: cover;
   height: 100%;
   max-width: 100%;

   h1 {
      font-weight: bold;
      color: #303030;

      @media (max-width: 575.98px) {
         font-size: 3em;
      }
   }
}
.add-spaces {
   height: 35em;
}