.features-body {
    background: #A8D0E6;
    background: linear-gradient(180deg,  #A8D0E6 80%, #f8f9fa 100%);
}


.jumbotron-features {
    background: url(../img/features-page-img-jumbo.jpg) fixed center no-repeat;
    background-size: cover;
    height: auto;
    max-width: 100%;

    h1 {
        color: white;
        padding: 7rem 0;

        @media(max-width: 400px) {
            font-size: 4rem;
        }
    }
}

.features-img-col {
    padding: 2rem 0;
    
    &:first-child {
        padding: 2rem 0 0.6rem 0;
    }

    .features-img {
        .smallImageStyling()
    }
}