.social {
    a {
        i {
            color: black;
            font-size: 2rem;
            padding: 1% 0 1.8% 1.8%;
        }
    }
}

.social-header {
    h2 {
        font-weight: bold;
    }
}

.no-display {
    @media (min-width: 575.98px) {
        display: none;
    }
}

.copyright {
    padding-bottom: 1.3rem;
}