html {
    font-size: 1.0rem;
    // Extra small devices (portrait phones, less than 576px)
    @media @smmf { font-size: 1.1rem; }

    // Small devices (landscape phones, less than 768px)
    @media @mdmf { font-size: 1.2rem; }

    // Medium devices (tablets, less than 992px)
    @media @lgmf { font-size: 1.3rem; }
}

body {
  background: #A8D0E6;
  background: linear-gradient(180deg,  #A8D0E6 80%, #f8f9fa 100%);
  font-family: 'Roboto Slab', sans-serif;
}
