.card-deck {
    .card {
        .rating-stars {
            padding: 0 0 0.5rem 0;
        }
    }
} 

.marketing-txt {
    width: 10%;

    @media (min-width: 575.98px) {
        padding-top: 4rem;
    }
}



.marketing-img-col {
    padding: 2rem 0;

    .marketing-img {
        .smallImageStyling()
    }

    &:first-child {
        padding: 2rem 0 0.6rem 0;
    }
}



.h3 {
    padding-bottom: 2rem;
}

.carousel-caption {

    h3 {
        padding: 4% 0;
    }

}