.card-deck {
    .card {
        .rating-stars {
            padding: 0 0 0.5rem 0;
        }
    }
} 

.marketing-txt {
    @media (min-width: 575.98px) {
        padding-top: 2rem;
    }   
    @media (min-width: 991.98px) {
        padding-top: 4rem;
    }    
    @media (min-width: 1199.98px) {
        padding-top: 6rem;
    }  
}



.marketing-img-col {
    padding: 2rem 0;

    .marketing-img {
        border: 30px solid lightgray;
    }

    &:first-child {
        padding: 2rem 0 0.6rem 0;
    }
}



.h3 {
    // padding-bottom: 2rem;
}

.carousel-caption {

    h3 {
        padding: 4% 0;
    }

}