// Mixins in here

// Swap the text color and the border color
.swapColor(@text-color, @border-color, @border-style, @border-width, @bg-color) {
    color: @text-color;
    border-top: ~"@{border-width} @{border-style} @{bg-color}";
    border-bottom: ~"@{border-width} @{border-style} @{bg-color}";
    
    &:hover {
        color: @border-color;
        border-top: ~"@{border-width} @{border-style} @{text-color}";
        border-bottom: ~"@{border-width} @{border-style} @{text-color}";
    }
} 

.shadowText() {
    text-shadow: 
        1px 0px 1px gray, 0px 1px 1px #ccc, 
        2px 1px 1px gray, 1px 2px 1px #ccc,

}