// Mixins in here

// Swap the text color and the border color
.swapColor(@text-color, @border-color, @border-style, @border-width, @bg-color) {
    color: @text-color;
    border-top: ~"@{border-width} @{border-style} @{bg-color}";
    border-bottom: ~"@{border-width} @{border-style} @{bg-color}";
    
    &:hover {
        color: @border-color;
        border-top: ~"@{border-width} @{border-style} @{text-color}";
        border-bottom: ~"@{border-width} @{border-style} @{text-color}";
    }
} 

.shadowText() {
    text-shadow: 
        1px 0px 1px #ccc, 0px 1px 1px #eee, 
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc, 4px 5px 1px #eee,
        6px 5px 1px #ccc, 5px 6px 1px #eee,
        7px 6px 1px #ccc;
}