// Navigation Styles here
.navbar {
    // background-color: @ltblue;
    .navbar-nav {
        .nav-link {
            font-size: 1.1em;
            transition: 0.3s ease;
            .swapColor(@dkblue, @mdred, solid, 2px, @bsbglight) 
        }
    }


    .navbar-brand {
        font-size: 1.3em;
        transition: 0.3s ease;
        .swapColor(@mdred, @dkblue, solid, 2px, @bsbglight) 
    }
}

