
// Site wide color theme
@mdred: #F76c6c;
@mdbeige: #F8E9A1;
@ltblue: #A8D0E6;
@mdblue: #374785;
@dkblue: #24305E;

// Social media colors
@fbblue: #3B5998;
@twitterblue: #00ACED; 
@pinterestred: #c8232c;
@instagramturq: #517FA4;
@ytred: #BB0000;

// Bootstrap colors
@bsbglight: #f8f9fa; //The bg-light color

// Escaped media query variables
// Mobile first
@xlmf: ~"(min-width: 1049.98px)";
@lgmf: ~"(min-width: 991.98px)";
@mdmf: ~"(min-width: 767.98px)";
@smmf: ~"(min-width: 575.98px)";
@xsmf: ~"(min-width: 300.98px)";
@xxsmf: ~"(min-width: 250.98px)";

// Desktop first
@xldf: ~"(max-width: 1049.98px)";
@lgdf: ~"(max-width: 991.98px)";
@mddf: ~"(max-width: 767.98px)";
@smdf: ~"(max-width: 575.98px)";
@xsdf: ~"(max-width: 300.98px)";
@xxsdf: ~"(max-width: 250.98px)";